# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!pip install gmaps
!jupyter nbextension enable --py --sys-prefix gmaps

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os

# Import API key
from api_keys import g_key

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

Collecting gmaps
  Downloading gmaps-0.9.0.tar.gz (1.1 MB)
Requirement already satisfied: ipython>=5.3.0 in c:\users\jacob\anaconda3\lib\site-packages (from gmaps) (7.19.0)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\jacob\anaconda3\lib\site-packages (from gmaps) (7.5.1)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\jacob\anaconda3\lib\site-packages (from gmaps) (5.0.5)
Collecting geojson>=2.0.0
  Downloading geojson-2.5.0-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: six in c:\users\jacob\anaconda3\lib\site-packages (from gmaps) (1.15.0)
Requirement already satisfied: decorator in c:\users\jacob\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (4.4.2)
Requirement already satisfied: jedi>=0.10 in c:\users\jacob\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.17.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\jacob\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (3.0.8)
Requirement already satisfied: backcall in c:\users\jacob\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: pygments in c:\users\jacob\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (2.7.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\jacob\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (50.3.1.post20201107)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\jacob\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\jacob\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\jacob\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\jacob\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.3.4)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\jacob\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.0.8)
Requirement already satisfied: ipython-genutils in c:\users\jacob\anaconda3\lib\site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\jacob\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\jacob\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in c:\users\jacob\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.1.4)
Requirement already satisfied: tornado>=4.2 in c:\users\jacob\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.4)
Requirement already satisfied: jupyter-client in c:\users\jacob\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.7)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\jacob\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: jupyter-core in c:\users\jacob\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.6.3)
Requirement already satisfied: jinja2 in c:\users\jacob\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.2)
Requirement already satisfied: pyzmq>=17 in c:\users\jacob\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (19.0.2)
Requirement already satisfied: prometheus-client in c:\users\jacob\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.0)
Requirement already satisfied: argon2-cffi in c:\users\jacob\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.1.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\jacob\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.9.1)
Requirement already satisfied: nbconvert in c:\users\jacob\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.7)
Requirement already satisfied: Send2Trash in c:\users\jacob\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\jacob\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\jacob\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (20.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\jacob\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.17.3)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\jacob\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (227)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\jacob\anaconda3\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: cffi>=1.0.0 in c:\users\jacob\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.14.3)
Requirement already satisfied: pywinpty>=0.5 in c:\users\jacob\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.7)
Requirement already satisfied: defusedxml in c:\users\jacob\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: jupyterlab-pygments in c:\users\jacob\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.1.2)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\jacob\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.3)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\jacob\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\jacob\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: bleach in c:\users\jacob\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.2.1)
Requirement already satisfied: testpath in c:\users\jacob\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\jacob\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: pycparser in c:\users\jacob\anaconda3\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.20)
Requirement already satisfied: nest-asyncio in c:\users\jacob\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: async-generator in c:\users\jacob\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.10)
Requirement already satisfied: packaging in c:\users\jacob\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.4)
Requirement already satisfied: webencodings in c:\users\jacob\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\jacob\anaconda3\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.4.7)
Building wheels for collected packages: gmaps
  Building wheel for gmaps (setup.py): started
  Building wheel for gmaps (setup.py): finished with status 'done'
  Created wheel for gmaps: filename=gmaps-0.9.0-py2.py3-none-any.whl size=2076102 sha256=83952e686a7c1cf9020430cfc70af98a150dd57b3d36a28518189848355161fb
  Stored in directory: c:\users\jacob\appdata\local\pip\cache\wheels\30\bd\87\d0d731ee712c34a4d6bace8b1dbf8c8932e22a1625b4a55be4
Successfully built gmaps
Installing collected packages: geojson, gmaps
Successfully installed geojson-2.5.0 gmaps-0.9.0

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [10]:
csv_file = os.path.join('..', 'WeatherPy', 'Output', 'city_weather.csv')

city_df = pd.read_csv("Output/city_weather.csv")
city_df

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed
0,338345,Edd,ER,13.9297,41.6925,78.71,80,100,17.31
1,1224061,Wattegama,LK,6.7989,81.4808,77.00,100,40,1.14
2,780687,Berlevåg,NO,70.8578,29.0864,31.68,67,99,12.77
3,3874787,Punta Arenas,CL,-53.1500,-70.9167,41.00,87,40,6.91
4,2155415,New Norfolk,AU,-42.7826,147.0587,61.65,59,0,6.91
...,...,...,...,...,...,...,...,...,...
549,2298330,Medina Estates,GH,5.6823,-0.1641,84.20,84,20,11.50
550,3447928,Seabra,BR,-12.4186,-41.7703,68.00,94,90,3.44
551,2159220,Mackay,AU,-21.1500,149.2000,75.90,73,75,14.97
552,2189343,Kaeo,NZ,-35.1000,173.7833,68.00,56,0,5.99
553,515805,Oktyabr'skoye,RU,43.0645,44.7417,53.60,100,100,6.71

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [11]:
gmaps.configure(api_key=g_key)

In [12]:
locations = city_df[["Lat", "Lng"]]
humidity = city_df["Humidity"]

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False)
heat_layer.max_intensity = 100
heat_layer.point_radius = 5


fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [13]:
ideal_df = city_df[(city_df['Temperature'] >= 75) & (city_df['Temperature'] <= 90)]
ideal_df = ideal_df[ideal_df['Wind Speed'] <= 10]
ideal_df = ideal_df[ideal_df['Clouds'] <= 10]
ideal_df = ideal_df[ideal_df['Humidity'] <= 70]
hotel_df = ideal_df
hotel_df

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed
52,5044290,Saint Anthony,US,45.0205,-93.2180,85.08,18,1,6.91
130,4033077,Vaitape,PF,-16.5167,-151.7500,80.78,67,2,4.03
177,4020109,Atuona,PF,-9.8000,-139.0333,79.61,68,9,6.93
178,100926,Umluj,SA,25.0213,37.2685,80.35,59,0,9.89
186,1255708,Sorbhog,IN,26.5000,90.8667,79.81,43,2,3.02
198,4034551,Faanui,PF,-16.4833,-151.7500,80.78,67,2,3.83
216,1805680,Jingdezhen,CN,29.2947,117.2079,78.96,68,4,4.85
282,1787858,Shangrao,CN,28.4532,117.9686,77.81,67,1,5.99
310,1273109,Devarkonda,IN,16.7000,78.9333,77.77,69,10,5.68
355,2381334,Atar,MR,20.5169,-13.0499,81.82,19,8,4.88
373,80509,Al Bardīyah,LY,31.7561,25.0865,79.36,26,5,5.91
415,1268820,Jorhāt,IN,26.7500,94.2167,80.44,51,8,5.46
446,2449066,Tombouctou,ML,20.0000,-3.0000,85.75,33,8,7.92
491,2360372,Gorom-Gorom,BF,14.4439,-0.2361,89.53,15,5,7.25
504,1254046,Tura,IN,25.5198,90.2201,76.82,63,5,5.68
540,2449893,Tessalit,ML,20.1986,1.0114,85.75,26,0,9.53

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
hotel_df['Hotel Name'] = ""
hotel_df

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed,Hotel Name
52,5044290,Saint Anthony,US,45.0205,-93.2180,85.08,18,1,6.91,
130,4033077,Vaitape,PF,-16.5167,-151.7500,80.78,67,2,4.03,
177,4020109,Atuona,PF,-9.8000,-139.0333,79.61,68,9,6.93,
178,100926,Umluj,SA,25.0213,37.2685,80.35,59,0,9.89,
186,1255708,Sorbhog,IN,26.5000,90.8667,79.81,43,2,3.02,
198,4034551,Faanui,PF,-16.4833,-151.7500,80.78,67,2,3.83,
216,1805680,Jingdezhen,CN,29.2947,117.2079,78.96,68,4,4.85,
282,1787858,Shangrao,CN,28.4532,117.9686,77.81,67,1,5.99,
310,1273109,Devarkonda,IN,16.7000,78.9333,77.77,69,10,5.68,
355,2381334,Atar,MR,20.5169,-13.0499,81.82,19,8,4.88,
373,80509,Al Bardīyah,LY,31.7561,25.0865,79.36,26,5,5.91,
415,1268820,Jorhāt,IN,26.7500,94.2167,80.44,51,8,5.46,
446,2449066,Tombouctou,ML,20.0000,-3.0000,85.75,33,8,7.92,
491,2360372,Gorom-Gorom,BF,14.4439,-0.2361,89.53,15,5,7.25,
504,1254046,Tura,IN,25.5198,90.2201,76.82,63,5,5.68,
540,2449893,Tessalit,ML,20.1986,1.0114,85.75,26,0,9.53,

In [15]:
for index, row in hotel_df.iterrows():
    try:
        
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        params = {
        "keyword": "hotel",
        "radius": 5000,
        "key": g_key,
        }


        lat = row['Lat']
        lng = row['Lng']

        params['location'] = f"{lat}, {lng}"

        hotel_data = requests.get(base_url, params=params).json()
        
        hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
        
    except IndexError:
        
        hotel_df.loc[index, "Hotel Name"] = "NaN"
        
hotel_df

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed,Hotel Name
52,5044290,Saint Anthony,US,45.0205,-93.2180,85.08,18,1,6.91,Hewing Hotel
130,4033077,Vaitape,PF,-16.5167,-151.7500,80.78,67,2,4.03,InterContinental Bora Bora Resort Thalasso Spa
177,4020109,Atuona,PF,-9.8000,-139.0333,79.61,68,9,6.93,Hôtel Hiva Oa Hanakee Lodge
178,100926,Umluj,SA,25.0213,37.2685,80.35,59,0,9.89,HP Red Sea Hotel
186,1255708,Sorbhog,IN,26.5000,90.8667,79.81,43,2,3.02,NaN
198,4034551,Faanui,PF,-16.4833,-151.7500,80.78,67,2,3.83,InterContinental Bora Bora Resort Thalasso Spa
216,1805680,Jingdezhen,CN,29.2947,117.2079,78.96,68,4,4.85,Fairfield by Marriott Jingdezhen
282,1787858,Shangrao,CN,28.4532,117.9686,77.81,67,1,5.99,Longtan Lake Hotel
310,1273109,Devarkonda,IN,16.7000,78.9333,77.77,69,10,5.68,Meenakshi Hotel
355,2381334,Atar,MR,20.5169,-13.0499,81.82,19,8,4.88,Bab Sahara
373,80509,Al Bardīyah,LY,31.7561,25.0865,79.36,26,5,5.91,Hotel Burdy
415,1268820,Jorhāt,IN,26.7500,94.2167,80.44,51,8,5.46,Hotel MD's Continental
446,2449066,Tombouctou,ML,20.0000,-3.0000,85.75,33,8,7.92,NaN
491,2360372,Gorom-Gorom,BF,14.4439,-0.2361,89.53,15,5,7.25,NaN
504,1254046,Tura,IN,25.5198,90.2201,76.82,63,5,5.68,Hotel Polo Orchid
540,2449893,Tessalit,ML,20.1986,1.0114,85.75,26,0,9.53,NaN

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [17]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,
    info_box_content=[f"Hotel loc: {rate}" for rate in hotel_info])

fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))